/* line 3, ../sass/anim.scss */
.load1 {
  width: 170px;
  height: 170px;
  border: 10px solid transparent;
  margin: auto auto;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  -moz-animation: loads1 1s infinite;
  -webkit-animation: loads1 1s infinite;
  animation: loads1 1s infinite;
}

@-moz-keyframes loads1 {
  0% {
    border-right: 15px solid lightGreen;
  }
  100% {
    border-right: 15px solid lightBlue;
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loads1 {
  0% {
    border-right: 15px solid lightGreen;
  }
  100% {
    border-right: 15px solid lightBlue;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loads1 {
  0% {
    border-right: 15px solid lightGreen;
  }
  100% {
    border-right: 15px solid lightBlue;
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 22, ../sass/anim.scss */
.load2 {
  border: 10px solid transparent;
  margin: 50px auto;
  -moz-animation: loads2 1s infinite;
  -webkit-animation: loads2 1s infinite;
  animation: loads2 1s infinite;
}

@-moz-keyframes loads2 {
  0% {
    width: 50px;
    border: 10px solid lightblue;
  }
  100% {
    width: 200px;
  }
}
@-webkit-keyframes loads2 {
  0% {
    width: 50px;
    border: 10px solid lightblue;
  }
  100% {
    width: 200px;
  }
}
@keyframes loads2 {
  0% {
    width: 50px;
    border: 10px solid lightblue;
  }
  100% {
    width: 200px;
  }
}
/* line 37, ../sass/anim.scss */
.load3 {
  width: 100px;
  height: 100px;
  padding: 25px;
}
/* line 41, ../sass/anim.scss */
.load3 .circle1 {
  width: 120px;
  height: 120px;
  border: 1px dashed transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-animation: loads3 1s infinite;
  -webkit-animation: loads3 1s infinite;
  animation: loads3 1s infinite;
}

@-moz-keyframes loads3 {
  0% {
    border-right: 5px solid yellow;
    border-left: 5px dashed red;
  }
  100% {
    border-right: 15px dashed red;
    border-left: 15px dashed yellow;
    -moz-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes loads3 {
  0% {
    border-right: 5px solid yellow;
    border-left: 5px dashed red;
  }
  100% {
    border-right: 15px dashed red;
    border-left: 15px dashed yellow;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes loads3 {
  0% {
    border-right: 5px solid yellow;
    border-left: 5px dashed red;
  }
  100% {
    border-right: 15px dashed red;
    border-left: 15px dashed yellow;
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/* line 61, ../sass/anim.scss */
.load4 {
  padding: 20px 0px;
}
/* line 63, ../sass/anim.scss */
.load4 .square1 {
  border: 10px solid transparent;
  position: absolute;
  -moz-animation: loads4 1.5s infinite;
  -webkit-animation: loads4 1.5s infinite;
  animation: loads4 1.5s infinite;
}
/* line 68, ../sass/anim.scss */
.load4 .square2 {
  border: 10px solid transparent;
  position: absolute;
  margin-left: 25px;
  -moz-animation: loads4 1.5s infinite;
  -webkit-animation: loads4 1.5s infinite;
  animation: loads4 1.5s infinite;
}
/* line 74, ../sass/anim.scss */
.load4 .square3 {
  border: 10px solid transparent;
  position: absolute;
  margin-left: 50px;
  -moz-animation: loads4 1.5s infinite;
  -webkit-animation: loads4 1.5s infinite;
  animation: loads4 1.5s infinite;
}

@-moz-keyframes loads4 {
  0% {
    border-left: 10px solid white;
  }
  100% {
    border-left: 15px solid white;
    margin-left: 180px;
    opacity: 0.2;
  }
}
@-webkit-keyframes loads4 {
  0% {
    border-left: 10px solid white;
  }
  100% {
    border-left: 15px solid white;
    margin-left: 180px;
    opacity: 0.2;
  }
}
@keyframes loads4 {
  0% {
    border-left: 10px solid white;
  }
  100% {
    border-left: 15px solid white;
    margin-left: 180px;
    opacity: 0.2;
  }
}
/* line 92, ../sass/anim.scss */
.load5 {
  margin: 50px 0px 0px;
  height: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5ZjVkMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwODAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #a9f5d0), color-stop(100%, #008000));
  background-image: -moz-linear-gradient(left, #a9f5d0, #008000);
  background-image: -webkit-linear-gradient(left, #a9f5d0, #008000);
  background-image: linear-gradient(to right, #a9f5d0, #008000);
  -moz-animation: loads5 1s infinite;
  -webkit-animation: loads5 1s infinite;
  animation: loads5 1s infinite;
}

@-moz-keyframes loads5 {
  0% {
    width: 10px;
  }
  100% {
    width: 200px;
  }
}
@-webkit-keyframes loads5 {
  0% {
    width: 10px;
  }
  100% {
    width: 200px;
  }
}
@keyframes loads5 {
  0% {
    width: 10px;
  }
  100% {
    width: 200px;
  }
}
/* line 107, ../sass/anim.scss */
.load6 {
  margin: 30px auto;
}
/* line 109, ../sass/anim.scss */
.load6 .cir1 {
  width: 100px;
  height: 100px;
  border: 10px solid #F8E0F7;
  position: absolute;
  margin: 30px auto;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-animation: loads6 1s infinite;
  -webkit-animation: loads6 1s infinite;
  animation: loads6 1s infinite;
}

@-moz-keyframes loads6 {
  100% {
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
  }
}
@-webkit-keyframes loads6 {
  100% {
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
  }
}
@keyframes loads6 {
  100% {
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
  }
}
