doctype html
html(amp lang="en")
head
    meta(charset="utf-8")
    title Hello, AMPs
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    link(href="http://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="dev/styles/stylesheets/main.css")
    link(rel="stylesheet", href="dev/scripts/main.js")
    style.
        body{opacity:0;}
    noscript
        style.
            body{opacity: 1;}
    script(async src="https://cdn.ampproject.org/v0.js")
    script(async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js")
    script(async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js")
    script(async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js")
    script(async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js")
    script(async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js")
    script(async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js")
    script(async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js")
body
    div.head
        amp-fit-text(width="300" height="10" layout="fill" max-font-size="50")
            | Example gallery with AMP.

    div.cont-gallery
        button(on="tap:htmlLightbox") HTML5
        amp-lightbox(id="htmlLightbox" layout="nodisplay")
            div.lightbox
                amp-img(src="../imgs/html5.png" width="300" height="400")
                div(close) Close

        button(on="tap:cssLightbox") CSS3
        amp-lightbox(id="cssLightbox" layout="nodisplay")
            div.lightbox
                amp-img(src="../imgs/css3.png" width="300" height="400")
                div(close) Close

        button(on="tap:jsLightbox") Javascript
        amp-lightbox(id="jsLightbox" layout="nodisplay")
            div.lightbox
                amp-img(src="../imgs/jsG.png" width="300" height="400")
                div(close) Close

        button(on="tap:nodeLightbox") Node
        amp-lightbox(id="nodeLightbox" layout="nodisplay")
            div.lightbox
                amp-img(src="../imgs/node.png" width="300" height="400")
                div(close) Close

        button(on="tap:jadeLightbox") Jade
        amp-lightbox(id="jadeLightbox" layout="nodisplay")
            div.lightbox
                amp-img(src="../imgs/jade.png" width="300" height="400")
                div(close) Close

        button(on="tap:gruntLightbox") Grunt
        amp-lightbox(id="gruntLightbox" layout="nodisplay")
            div.lightbox
                amp-img(src="../imgs/grunt.png" width="300" height="400")
                div(close) Close

        button(on="tap:bowerLightbox") Bower
        amp-lightbox(id="bowerLightbox" layout="nodisplay")
            div.lightbox
                amp-img(src="../imgs/bower.png" width="300" height="400")
                div(close) Close
