@import "compass/css3";

body {
    background-color: silver;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

amp-lightbox {
    text-align: center;
    @include background-image(radial-gradient(30px 30px, #ccc 50px, #333 200px));
}
amp-fit-text {
    color: white;
    font-family: 'Racing Sans One', cursive;
    text-align: center;
    @include text-shadow(7px 7px 10px #ccc);
}

button {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    outline: none;
    border: 0px solid #333;
    margin: 15px;
    @include border-radius(8px);
    @include box-shadow(#064404 3px 3px 12px);
    @include background-image(linear-gradient(to bottom, #21BD1C, #096006));
}
button:hover {
    background: #096006;
}
.head {
    top: 0px !important;
    width: 100%;
    position: absolute;
    background: #000;
    height: 100px;
}
.cont-gallery {
    top: 150px !important;
    width: 80%;
    height: auto;
    text-align: center;
    position: relative;
    margin: auto;
    background: #F5F7F5;
    padding: 20px;
}
div[close] {
    font-family: 'Racing Sans One', cursive;
    color: #fff;
    cursor: pointer;
    margin-top: 10% !important;
}
div[close]:hover {
    text-decoration: underline;
}